@import "../../global/global.scss";

.todo {
  &__container {
    padding: 0 !important;
    display: flex;

    .tasks {
      padding: 16px;

      @media screen and (max-width: 400px) {
        &.is_open {
          display: none;
        }
      }
    }
  }
}
